(
    schema_version: 1,
    models: {
        // Aliens
        "alien_cyclop": ( path: "models/Aliens/Alien_Cyclop.gltf#Scene0" ),
        "alien_oculichrysalis": ( path: "models/Aliens/Alien_Oculichrysalis.gltf#Scene0" ),
        "alien_scolitex": ( path: "models/Aliens/Alien_Scolitex.gltf#Scene0" ),
        // Columns
        "column_astra": ( path: "models/Columns/Column_Astra.gltf#Scene0" ),
        "column_hollow": ( path: "models/Columns/Column_Hollow.gltf#Scene0" ),
        "column_large_straight": ( path: "models/Columns/Column_Large_Straight.gltf#Scene0" ),
        "column_metalsupport": ( path: "models/Columns/Column_MetalSupport.gltf#Scene0" ),
        "column_metalsupport_curve": ( path: "models/Columns/Column_MetalSupport_Curve.gltf#Scene0" ),
        "column_pipes": ( path: "models/Columns/Column_Pipes.gltf#Scene0" ),
        "column_round": ( path: "models/Columns/Column_Round.gltf#Scene0" ),
        "column_simple": ( path: "models/Columns/Column_Simple.gltf#Scene0" ),
        // Decals
        "decal_0": ( path: "models/Decals/Decal_0.gltf#Scene0" ),
        "decal_1": ( path: "models/Decals/Decal_1.gltf#Scene0" ),
        "decal_2": ( path: "models/Decals/Decal_2.gltf#Scene0" ),
        "decal_3": ( path: "models/Decals/Decal_3.gltf#Scene0" ),
        "decal_4": ( path: "models/Decals/Decal_4.gltf#Scene0" ),
        "decal_5": ( path: "models/Decals/Decal_5.gltf#Scene0" ),
        "decal_6": ( path: "models/Decals/Decal_6.gltf#Scene0" ),
        "decal_7": ( path: "models/Decals/Decal_7.gltf#Scene0" ),
        "decal_8": ( path: "models/Decals/Decal_8.gltf#Scene0" ),
        "decal_9": ( path: "models/Decals/Decal_9.gltf#Scene0" ),
        "decal_a": ( path: "models/Decals/Decal_A.gltf#Scene0" ),
        "decal_dashes": ( path: "models/Decals/Decal_Dashes.gltf#Scene0" ),
        "decal_k": ( path: "models/Decals/Decal_K.gltf#Scene0" ),
        "decal_line_90": ( path: "models/Decals/Decal_Line_90.gltf#Scene0" ),
        "decal_line_90_round": ( path: "models/Decals/Decal_Line_90_Round.gltf#Scene0" ),
        "decal_line_90_round_large": ( path: "models/Decals/Decal_Line_90_Round_Large.gltf#Scene0" ),
        "decal_line_bend1_l": ( path: "models/Decals/Decal_Line_Bend1_L.gltf#Scene0" ),
        "decal_line_bend1_r": ( path: "models/Decals/Decal_Line_Bend1_R.gltf#Scene0" ),
        "decal_line_bend2_l": ( path: "models/Decals/Decal_Line_Bend2_L.gltf#Scene0" ),
        "decal_line_bend2_r": ( path: "models/Decals/Decal_Line_Bend2_R.gltf#Scene0" ),
        "decal_line_straight": ( path: "models/Decals/Decal_Line_Straight.gltf#Scene0" ),
        "decal_logo": ( path: "models/Decals/Decal_Logo.gltf#Scene0" ),
        "decal_logo_letters": ( path: "models/Decals/Decal_Logo_Letters.gltf#Scene0" ),
        "decal_logo_small": ( path: "models/Decals/Decal_Logo_Small.gltf#Scene0" ),
        "decal_sign": ( path: "models/Decals/Decal_Sign.gltf#Scene0" ),
        "decal_v": ( path: "models/Decals/Decal_V.gltf#Scene0" ),
        "decal_x": ( path: "models/Decals/Decal_X.gltf#Scene0" ),
        "decal_xsign": ( path: "models/Decals/Decal_XSign.gltf#Scene0" ),
        "decal_z": ( path: "models/Decals/Decal_Z.gltf#Scene0" ),
        // Platforms
        "door_darkmetal": ( path: "models/Platforms/Door_DarkMetal.gltf#Scene0" ),
        "door_frame_a": ( path: "models/Platforms/Door_Frame_A.gltf#Scene0" ),
        "door_frame_square": ( path: "models/Platforms/Door_Frame_Square.gltf#Scene0" ),
        "door_frame_squaretall": ( path: "models/Platforms/Door_Frame_SquareTall.gltf#Scene0" ),
        "door_frame_square_blocked": ( path: "models/Platforms/Door_Frame_Square_Blocked.gltf#Scene0" ),
        "door_metal": ( path: "models/Platforms/Door_Metal.gltf#Scene0" ),
        "door_simple": ( path: "models/Platforms/Door_Simple.gltf#Scene0" ),
        "platform_3plates": ( path: "models/Platforms/Platform_3Plates.gltf#Scene0" ),
        "platform_centerplate": ( path: "models/Platforms/Platform_CenterPlate.gltf#Scene0" ),
        "platform_centerplate_curve": ( path: "models/Platforms/Platform_CenterPlate_Curve.gltf#Scene0" ),
        "platform_darkplates": ( path: "models/Platforms/Platform_DarkPlates.gltf#Scene0" ),
        "platform_darkplates_curves": ( path: "models/Platforms/Platform_DarkPlates_Curves.gltf#Scene0" ),
        "platform_metal": ( path: "models/Platforms/Platform_Metal.gltf#Scene0" ),
        "platform_metal2": ( path: "models/Platforms/Platform_Metal2.gltf#Scene0" ),
        "platform_metal2_curve": ( path: "models/Platforms/Platform_Metal2_Curve.gltf#Scene0" ),
        "platform_metal_curve": ( path: "models/Platforms/Platform_Metal_Curve.gltf#Scene0" ),
        "platform_rails_2": ( path: "models/Platforms/Platform_Rails_2.gltf#Scene0" ),
        "platform_rails_4": ( path: "models/Platforms/Platform_Rails_4.gltf#Scene0" ),
        "platform_rails_4wide": ( path: "models/Platforms/Platform_Rails_4Wide.gltf#Scene0" ),
        "platform_rails_4widetall": ( path: "models/Platforms/Platform_Rails_4WideTall.gltf#Scene0" ),
        "platform_ramp_2": ( path: "models/Platforms/Platform_Ramp_2.gltf#Scene0" ),
        "platform_ramp_2short": ( path: "models/Platforms/Platform_Ramp_2Short.gltf#Scene0" ),
        "platform_ramp_4": ( path: "models/Platforms/Platform_Ramp_4.gltf#Scene0" ),
        "platform_ramp_4wide": ( path: "models/Platforms/Platform_Ramp_4Wide.gltf#Scene0" ),
        "platform_round1": ( path: "models/Platforms/Platform_Round1.gltf#Scene0" ),
        "platform_simple": ( path: "models/Platforms/Platform_Simple.gltf#Scene0" ),
        "platform_simple2": ( path: "models/Platforms/Platform_Simple2.gltf#Scene0" ),
        "platform_simple2_curve": ( path: "models/Platforms/Platform_Simple2_Curve.gltf#Scene0" ),
        "platform_simple_curve": ( path: "models/Platforms/Platform_Simple_Curve.gltf#Scene0" ),
        "platform_squares": ( path: "models/Platforms/Platform_Squares.gltf#Scene0" ),
        "platform_squares_curve": ( path: "models/Platforms/Platform_Squares_Curve.gltf#Scene0" ),
        "platform_stairs_2": ( path: "models/Platforms/Platform_Stairs_2.gltf#Scene0" ),
        "platform_stairs_4": ( path: "models/Platforms/Platform_Stairs_4.gltf#Scene0" ),
        "platform_stairs_4wide": ( path: "models/Platforms/Platform_Stairs_4Wide.gltf#Scene0" ),
        "platform_stairs_4widetall": ( path: "models/Platforms/Platform_Stairs_4WideTall.gltf#Scene0" ),
        "platform_window_thin": ( path: "models/Platforms/Platform_Window_Thin.gltf#Scene0" ),
        "platform_window_wide": ( path: "models/Platforms/Platform_Window_Wide.gltf#Scene0" ),
        "platform_x": ( path: "models/Platforms/Platform_X.gltf#Scene0" ),
        // Props
        "prop_accesspoint": ( path: "models/Props/Prop_AccessPoint.gltf#Scene0" ),
        "prop_barrel_large": ( path: "models/Props/Prop_Barrel_Large.gltf#Scene0" ),
        "prop_cable_1": ( path: "models/Props/Prop_Cable_1.gltf#Scene0" ),
        "prop_cable_3": ( path: "models/Props/Prop_Cable_3.gltf#Scene0" ),
        "prop_chest": ( path: "models/Props/Prop_Chest.gltf#Scene0" ),
        "prop_clamp": ( path: "models/Props/Prop_Clamp.gltf#Scene0" ),
        "prop_computer": ( path: "models/Props/Prop_Computer.gltf#Scene0" ),
        "prop_crate3": ( path: "models/Props/Prop_Crate3.gltf#Scene0" ),
        "prop_crate4": ( path: "models/Props/Prop_Crate4.gltf#Scene0" ),
        "prop_fan_small": ( path: "models/Props/Prop_Fan_Small.gltf#Scene0" ),
        "prop_itemholder": ( path: "models/Props/Prop_ItemHolder.gltf#Scene0" ),
        "prop_light_corner": ( path: "models/Props/Prop_Light_Corner.gltf#Scene0" ),
        "prop_light_floor": ( path: "models/Props/Prop_Light_Floor.gltf#Scene0" ),
        "prop_light_small": ( path: "models/Props/Prop_Light_Small.gltf#Scene0" ),
        "prop_light_wide": ( path: "models/Props/Prop_Light_Wide.gltf#Scene0" ),
        "prop_pipeholder": ( path: "models/Props/Prop_PipeHolder.gltf#Scene0" ),
        "prop_rail_2": ( path: "models/Props/Prop_Rail_2.gltf#Scene0" ),
        "prop_rail_3": ( path: "models/Props/Prop_Rail_3.gltf#Scene0" ),
        "prop_rail_4": ( path: "models/Props/Prop_Rail_4.gltf#Scene0" ),
        "prop_rail_incline_long_l": ( path: "models/Props/Prop_Rail_Incline_Long_L.gltf#Scene0" ),
        "prop_rail_incline_long_r": ( path: "models/Props/Prop_Rail_Incline_Long_R.gltf#Scene0" ),
        "prop_rail_incline_short_l": ( path: "models/Props/Prop_Rail_Incline_Short_L.gltf#Scene0" ),
        "prop_rail_incline_short_r": ( path: "models/Props/Prop_Rail_Incline_Short_R.gltf#Scene0" ),
        "prop_rail_round_big": ( path: "models/Props/Prop_Rail_Round_Big.gltf#Scene0" ),
        "prop_rail_round_small": ( path: "models/Props/Prop_Rail_Round_Small.gltf#Scene0" ),
        "prop_vent_big": ( path: "models/Props/Prop_Vent_Big.gltf#Scene0" ),
        "prop_vent_small": ( path: "models/Props/Prop_Vent_Small.gltf#Scene0" ),
        "prop_vent_wide": ( path: "models/Props/Prop_Vent_Wide.gltf#Scene0" ),
        // Walls
        "bottommetal_corner_round_inner": ( path: "models/Walls/BottomMetal_Corner_Round_Inner.gltf#Scene0" ),
        "bottommetal_corner_round_outer": ( path: "models/Walls/BottomMetal_Corner_Round_Outer.gltf#Scene0" ),
        "bottommetal_corner_square_inner": ( path: "models/Walls/BottomMetal_Corner_Square_Inner.gltf#Scene0" ),
        "bottommetal_corner_square_outer_1": ( path: "models/Walls/BottomMetal_Corner_Square_Outer_1.gltf#Scene0" ),
        "bottommetal_corner_square_outer_2": ( path: "models/Walls/BottomMetal_Corner_Square_Outer_2.gltf#Scene0" ),
        "bottommetal_straight": ( path: "models/Walls/BottomMetal_Straight.gltf#Scene0" ),
        "bottomsimple_corner_round_inner": ( path: "models/Walls/BottomSimple_Corner_Round_Inner.gltf#Scene0" ),
        "bottomsimple_corner_round_outer": ( path: "models/Walls/BottomSimple_Corner_Round_Outer.gltf#Scene0" ),
        "bottomsimple_corner_square_inner": ( path: "models/Walls/BottomSimple_Corner_Square_Inner.gltf#Scene0" ),
        "bottomsimple_corner_square_outer_1": ( path: "models/Walls/BottomSimple_Corner_Square_Outer_1.gltf#Scene0" ),
        "bottomsimple_corner_square_outer_2": ( path: "models/Walls/BottomSimple_Corner_Square_Outer_2.gltf#Scene0" ),
        "bottomsimple_straight": ( path: "models/Walls/BottomSimple_Straight.gltf#Scene0" ),
        "shortwall_accentstrip_corner_inner": ( path: "models/Walls/ShortWall_AccentStrip_Corner_Inner.gltf#Scene0" ),
        "shortwall_accentstrip_corner_outer": ( path: "models/Walls/ShortWall_AccentStrip_Corner_Outer.gltf#Scene0" ),
        "shortwall_accentstrip_straight": ( path: "models/Walls/ShortWall_AccentStrip_Straight.gltf#Scene0" ),
        "shortwall_band2_corner_inner": ( path: "models/Walls/ShortWall_Band2_Corner_Inner.gltf#Scene0" ),
        "shortwall_band2_corner_outer": ( path: "models/Walls/ShortWall_Band2_Corner_Outer.gltf#Scene0" ),
        "shortwall_band2_straight": ( path: "models/Walls/ShortWall_Band2_Straight.gltf#Scene0" ),
        "shortwall_darkmetal2_corner_inner": ( path: "models/Walls/ShortWall_DarkMetal2_Corner_Inner.gltf#Scene0" ),
        "shortwall_darkmetal2_corner_outer": ( path: "models/Walls/ShortWall_DarkMetal2_Corner_Outer.gltf#Scene0" ),
        "shortwall_darkmetal2_straight": ( path: "models/Walls/ShortWall_DarkMetal2_Straight.gltf#Scene0" ),
        "shortwall_darkplastic_corner_inner": ( path: "models/Walls/ShortWall_DarkPlastic_Corner_Inner.gltf#Scene0" ),
        "shortwall_darkplastic_corner_outer": ( path: "models/Walls/ShortWall_DarkPlastic_Corner_Outer.gltf#Scene0" ),
        "shortwall_darkplastic_straight": ( path: "models/Walls/ShortWall_DarkPlastic_Straight.gltf#Scene0" ),
        "shortwall_metal2_corner_inner": ( path: "models/Walls/ShortWall_Metal2_Corner_Inner.gltf#Scene0" ),
        "shortwall_metal2_corner_outer": ( path: "models/Walls/ShortWall_Metal2_Corner_Outer.gltf#Scene0" ),
        "shortwall_metal2_straight": ( path: "models/Walls/ShortWall_Metal2_Straight.gltf#Scene0" ),
        "shortwall_metalplates_corner_inner": ( path: "models/Walls/ShortWall_MetalPlates_Corner_Inner.gltf#Scene0" ),
        "shortwall_metalplates_corner_outer": ( path: "models/Walls/ShortWall_MetalPlates_Corner_Outer.gltf#Scene0" ),
        "shortwall_metalplates_straight": ( path: "models/Walls/ShortWall_MetalPlates_Straight.gltf#Scene0" ),
        "shortwall_simple1_corner_inner": ( path: "models/Walls/ShortWall_Simple1_Corner_Inner.gltf#Scene0" ),
        "shortwall_simple1_corner_outer": ( path: "models/Walls/ShortWall_Simple1_Corner_Outer.gltf#Scene0" ),
        "shortwall_simple1_straight": ( path: "models/Walls/ShortWall_Simple1_Straight.gltf#Scene0" ),
        "shortwall_simple2_corner_inner": ( path: "models/Walls/ShortWall_Simple2_Corner_Inner.gltf#Scene0" ),
        "shortwall_simple2_corner_outer": ( path: "models/Walls/ShortWall_Simple2_Corner_Outer.gltf#Scene0" ),
        "shortwall_simple2_straight": ( path: "models/Walls/ShortWall_Simple2_Straight.gltf#Scene0" ),
        "shortwall_triangles_corner_inner": ( path: "models/Walls/ShortWall_Triangles_Corner_Inner.gltf#Scene0" ),
        "shortwall_triangles_corner_outer": ( path: "models/Walls/ShortWall_Triangles_Corner_Outer.gltf#Scene0" ),
        "shortwall_triangles_straight": ( path: "models/Walls/ShortWall_Triangles_Straight.gltf#Scene0" ),
        "shortwall_whiteplate2_corner_inner": ( path: "models/Walls/ShortWall_WhitePlate2_Corner_Inner.gltf#Scene0" ),
        "shortwall_whiteplate2_corner_outer": ( path: "models/Walls/ShortWall_WhitePlate2_Corner_Outer.gltf#Scene0" ),
        "shortwall_whiteplate2_straight": ( path: "models/Walls/ShortWall_WhitePlate2_Straight.gltf#Scene0" ),
        "topastra_corner_round_inner": ( path: "models/Walls/TopAstra_Corner_Round_Inner.gltf#Scene0" ),
        "topastra_curve_round_outer": ( path: "models/Walls/TopAstra_Curve_Round_Outer.gltf#Scene0" ),
        "topastra_straight": ( path: "models/Walls/TopAstra_Straight.gltf#Scene0" ),
        "topcables_corner_round_inner": ( path: "models/Walls/TopCables_Corner_Round_Inner.gltf#Scene0" ),
        "topcables_corner_round_outer": ( path: "models/Walls/TopCables_Corner_Round_Outer.gltf#Scene0" ),
        "topcables_corner_square_inner": ( path: "models/Walls/TopCables_Corner_Square_Inner.gltf#Scene0" ),
        "topcables_corner_square_outer": ( path: "models/Walls/TopCables_Corner_Square_Outer.gltf#Scene0" ),
        "topcables_straight": ( path: "models/Walls/TopCables_Straight.gltf#Scene0" ),
        "topcables_straight_hanging": ( path: "models/Walls/TopCables_Straight_Hanging.gltf#Scene0" ),
        "topplastic_corner_outer": ( path: "models/Walls/TopPlastic_Corner_Outer.gltf#Scene0" ),
        "topplastic_corner_round_inner": ( path: "models/Walls/TopPlastic_Corner_Round_Inner.gltf#Scene0" ),
        "topplastic_corner_round_outer": ( path: "models/Walls/TopPlastic_Corner_Round_Outer.gltf#Scene0" ),
        "topplastic_straight": ( path: "models/Walls/TopPlastic_Straight.gltf#Scene0" ),
        "topsimple_corner_round_inner": ( path: "models/Walls/TopSimple_Corner_Round_Inner.gltf#Scene0" ),
        "topsimple_corner_round_outer": ( path: "models/Walls/TopSimple_Corner_Round_Outer.gltf#Scene0" ),
        "topsimple_straight": ( path: "models/Walls/TopSimple_Straight.gltf#Scene0" ),
        "topwindow_corner_curve_inner": ( path: "models/Walls/TopWindow_Corner_Curve_Inner.gltf#Scene0" ),
        "topwindow_corner_curve_outer": ( path: "models/Walls/TopWindow_Corner_Curve_Outer.gltf#Scene0" ),
        "topwindow_straight": ( path: "models/Walls/TopWindow_Straight.gltf#Scene0" ),
        "wallastra_corner_round_inner": ( path: "models/Walls/WallAstra_Corner_Round_Inner.gltf#Scene0" ),
        "wallastra_corner_round_outer": ( path: "models/Walls/WallAstra_Corner_Round_Outer.gltf#Scene0" ),
        "wallastra_corner_square_inner": ( path: "models/Walls/WallAstra_Corner_Square_Inner.gltf#Scene0" ),
        "wallastra_corner_square_outer": ( path: "models/Walls/WallAstra_Corner_Square_Outer.gltf#Scene0" ),
        "wallastra_straight": ( path: "models/Walls/WallAstra_Straight.gltf#Scene0" ),
        "wallastra_straight_broken": ( path: "models/Walls/WallAstra_Straight_Broken.gltf#Scene0" ),
        "wallastra_straight_divided": ( path: "models/Walls/WallAstra_Straight_Divided.gltf#Scene0" ),
        "wallastra_straight_flat": ( path: "models/Walls/WallAstra_Straight_Flat.gltf#Scene0" ),
        "wallastra_straight_flat_window": ( path: "models/Walls/WallAstra_Straight_Flat_Window.gltf#Scene0" ),
        "wallastra_straight_window": ( path: "models/Walls/WallAstra_Straight_Window.gltf#Scene0" ),
        "wallband_corner_round_inner": ( path: "models/Walls/WallBand_Corner_Round_Inner.gltf#Scene0" ),
        "wallband_corner_round_outer": ( path: "models/Walls/WallBand_Corner_Round_Outer.gltf#Scene0" ),
        "wallband_corner_square_inner": ( path: "models/Walls/WallBand_Corner_Square_Inner.gltf#Scene0" ),
        "wallband_corner_square_outer": ( path: "models/Walls/WallBand_Corner_Square_Outer.gltf#Scene0" ),
        "wallband_straight": ( path: "models/Walls/WallBand_Straight.gltf#Scene0" ),
        "wallband_straight_broken": ( path: "models/Walls/WallBand_Straight_Broken.gltf#Scene0" ),
        "wallwindow_cap_a": ( path: "models/Walls/WallWindow_Cap_A.gltf#Scene0" ),
        "wallwindow_cap_b": ( path: "models/Walls/WallWindow_Cap_B.gltf#Scene0" ),
        "wallwindow_corner_round_inner": ( path: "models/Walls/WallWindow_Corner_Round_Inner.gltf#Scene0" ),
        "wallwindow_corner_round_outer": ( path: "models/Walls/WallWindow_Corner_Round_Outer.gltf#Scene0" ),
        "wallwindow_corner_square_inner": ( path: "models/Walls/WallWindow_Corner_Square_Inner.gltf#Scene0" ),
        "wallwindow_corner_square_outer": ( path: "models/Walls/WallWindow_Corner_Square_Outer.gltf#Scene0" ),
        "wallwindow_straight": ( path: "models/Walls/WallWindow_Straight.gltf#Scene0" ),
    },
    textures: {},
    audio: {},
    effects: {},
    materials: {},
)
